<div class="form-group">
  <%= f.label(:question)%><br>
  <%= f.text_field(:question) %>
</div>
<div class="form-group">
  <%= f.label(:answer)%><br>
  <%= f.text_field(:answer) %>
</div>
<div class="form-group">
  <%= f.label(:distractors)%><br>
  <%= f.text_field(:distractors) %>
</div>
<div class="form-group">
  <%= f.label(:difficulty)%><br>
  <%= f.select(:difficulty, %w[easy medium hard]) %>
</div>
