<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="listing table table-hover table-bordered" summary="Question list">
<thead>
  <tr class="header">
    <th><%= sortable "question" %></th>
    <th><%= sortable "answer" %></th>
    <th><%= sortable "distractors" %></th>
    <th><%= sortable "difficulty" %></th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.question %></td>
    <td><%= question.answer %></td>
    <td><%= question.distractors %></td>
    <td><%= question.difficulty %></td>
    <td class="actions">
      <%= link_to(question_path(question, id: question.id)) do %>
      <button type="button" class="btn btn-default">Show</button>
      <% end %>
      <%= link_to(edit_question_path(question, id: question.id)) do %>
      <button type="button" class="btn btn-primary">Edit</button>
      <% end %>
      <%= link_to(question_path(question, id: question.id), data: { confirm: 'Are you sure?' }, method: :delete) do %>
      <button type="button" class="btn btn-danger">Delete</button>
      <% end %>
    </td>
  </tr>
  </tbody>
  <% end %>
</table>
<%= will_paginate @questions %>