<div class="container">
  <h3>Import questions from csv/xls/xlsx file</h3>

  <%= form_tag import_questions_path, multipart: true do %>
    <%= file_field_tag :file, :id => 'choose_file' %>
    <%= submit_tag 'Import', :class => 'btn btn-warning' %>
  <% end %>

  <h2 class="text-center">Questions List</h2>

  <p>
    Download as:
    <%= link_to "CSV", questions_path(format: "csv") %> |
    <%= link_to "Excel", questions_path(format: "xls") %>
  </p>

  <%= form_tag questions_path, :method => 'get', :id => "questions_search" do %>
    <p>
      <%= label_tag :Search_by_question %>
      <%= text_field_tag :search, params[:search] %>
    </p>
  No results found for your search?
  <%= link_to(new_question_path) do %>
  <button type="button" class="btn btn-info">Create a new question</button>
  <% end %>
  <hr/>
  <div id="questions"><%= render 'questions' %></div>
  <% end %>
</div>

<footer class="footer">
  <div class="container">
  <p class="text-muted"><%= pluralize(Question.all.size, 'question')%> found.</p>
  </div>
</footer>
