<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<h2>Import Questions</h2>

<%= form_tag import_questions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<div class="index">
  <h2>Questions</h2>

  <p>
    Download:
    <%= link_to "CSV", questions_path(format: "csv") %> |
    <%= link_to "Excel", questions_path(format: "xls") %>
  </p>

  <%= form_tag questions_path, :method => 'get', :id => "questions_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <div id="questions"><%= render 'questions' %></div>
  <% end %>

  <%= link_to("Add new question", {:action => 'new'}, :class => 'action new') %>
  
  <div><%= pluralize(@questions.size, 'question')%> found.</div>
 
</div>
